{% extends 'base.html' %}


{% block content %}


<h1> GAME "GameOh" </h1>

<h2><br>Do not worry - you will  <b>WIN</b> </h2><br>

<p id="them" style="display:none"> <strong>make them ALL dissapear!</strong> </p>


<div container="container">

    <div class="card unmatched"></div>

    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>
    <div class="card unmatched"></div>

</div>



<hr>
{% endblock %}